<div id="page_wrapper">
	<div id="content">
		<h1>Blog powstał w celu zaliczenia przedmiotu Architektura Serwisów Internetowych.</h1>
		<h2>W przyszlości nie będzie mieć więcej zastosowań.<h2>
			<h2>Twórcy bloga: Łukasz Zawistowski, Dawid Szczutkowski, Krystian Szewczyk, Łukasz Tarnowski.<h2>
	</div>
</div>