<p>Witaj <%= @resource.email %>!</p>

<p>Twoje konto zostało zablokowane przez zbyt dużą liczbę niepoprawnych prób zalogowania się.</p>

<p>Naciśnij link poniżej aby odblokować konto:</p>

<p><%= link_to 'Odblokuj konto', unlock_url(@resource, unlock_token: @token) %></p>
